/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require normalize
 *= require_tree .
 *= require_self
 */

/* サイト全体のフォント指定 */
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  


/* forms */


.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 36px;
  text-align:center;
  margin-top: 48px;
}

.box-form {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.actions {
  margin: 53px 0;
}

.sign-btn {
  width: 232px;
  height: 53px;
  border-radius: 4px;
  padding: 16px 80px;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

.log-btn {
  width: 232px;
  height: 53px;
  border-radius: 4px;
  padding: 16px 0;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

.form {
  border: none;
  outline: none;
  border-bottom: 2px solid #999;
  width: 480px;
  padding: 5px 10px;
  margin-bottom: 40px;
}

.error_messages {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.sign-up-btn {
  text-decoration: none;
  width: 232px;
  height: 53px;
  border-radius: 4px;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  text-align:center;
  line-height: 53px;
}

/* login-forms */


.flash-message {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.flash-message.notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.flash-message.alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.flash-message.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* heder */


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1360px;
  height: 120px;
  padding: 0 40px;
  background-color: #1B5678;
}

.header.login-page {
  justify-content: center; /* ロゴをセンターに配置 */
}

.header-logo {
  flex: 1; /* 左側に配置するためのスペースを確保 */
}

.header-logo a {
  text-decoration: none;
  font-size: 26px;  
  font-weight: bold;
  color: #FFF;
  border: none;
  font-weight: bold;
}


.log-in a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;  
  background-color: #FFF;
  border-radius: 4px;
  border: 2px solid;
  padding: 16px 40px;
}

.log-in {
  display: none;
}

.header.login-page .log-in {
  display: none;
}

/* footer */


.main-content {
  flex: 1;
  padding-bottom: 200px;
}



footer {
  width: 100%;
  background-color: #1B5678;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  left: 0;
}

.footer-text {
  color: #fff;
  text-align: center;
  padding: 0 40px;
}