<div class="header">
  <div class="header-logo"><a href="/">My Portfolio</a></div>
  <div class="log-in">
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <% unless controller_name == 'profiles' && action_name == 'index' %>
        <%= render "devise/shared/links", resource_name: :user, devise_mapping: Devise.mappings[:user] %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    <% end %>
  </div>
</div>
